
<br>
{% for i,j in a.items %}
{{i}}-{{j}}<br>
{% endfor %}
<br>
<br>
{% for i,j in b.items %}
{{i}}-{{j}}<br>
{% endfor %}
<br>
<br>
{% for i,j in c.items %}
{{i}}-{{j}}<br>
{% endfor %}

<br>
<br>
{% for i,j in d.items %}
{{i}}-{{j}}<br>
{% endfor %}

<br>
<br>
{% for i,j in e.items %}
{{i}}-{{j}}<br>
{% endfor %}
<br>
<br>
{% for i,j in f.items %}
{{i}}-{{j}}<br>
{% endfor %}
{{h}}
ds
<br>
<br>
{% for i,j in g.items %}
{{i}}-{{j}}<br>
{% endfor %}

<br>
<br>
{% for i,j in l1.items %}
{{i}}-{{j}}<br>
{% endfor %}
